@charset "UTF-8";
@font-face {
  font-family: minhaFonte;
  src: url("../arquives/font/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: minhaFonte2;
  src: url("../arquives/font/Poppins/Poppins-Light.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: minhaFonte2;
  transition: 0.3s ease-in-out;
}

body {
  width: 100vw;
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  padding: 3% 2% 1% 2%;
  background-image: linear-gradient(90deg, rgb(202, 219, 221) 0%, #c8eeec 50%, #cceceb 100%);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: gray;
}

:is(h1, h2) {
  font-family: minhaFonte;
}

button {
  border: 0;
  background-color: transparent;
}

input[type=checkbox] {
  display: none;
}

header, .lading__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
}

header :is(nav, div), .lading__content :is(nav, div) {
  width: 30%;
  height: 100%;
}

.firstTopContent {
  width: 45%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.firstTopContent span::first-letter {
  font-size: 4em; /* Ajuste o tamanho conforme necessário */
  float: left;
  margin-right: 0.1em; /* Ajuste a margem conforme necessário */
  line-height: 1;
}

header a, .lading__content a {
  padding: 0% 2.5%;
  color: rgb(84, 84, 84);
}
header a:hover, .lading__content a:hover {
  color: rgb(44, 44, 44);
}

a[href="#contact"] {
  padding: 2px 13px;
  background-color: #097079;
  color: white;
  border-radius: 14px;
  border: 2px solid white;
}
a[href="#contact"]:hover {
  background-color: rgba(9, 112, 121, 0.121);
}

.lading__content {
  padding: 2% 2%;
  margin: 5% auto;
}
@media (max-width: 800px) {
  .lading__content {
    width: 100%;
    gap: 10%;
    flex-direction: column;
  }
}

.lading__content .lading__content--side {
  width: 40%;
  height: 100%;
}
@media (max-width: 800px) {
  .lading__content .lading__content--side {
    width: 100%;
    gap: 10%;
    flex-direction: column;
  }
}

.lading__content .lading__content--side:nth-child(1) * {
  margin: 2% auto;
}

.is-slide-text p span {
  width: 100%;
  display: inline;
  padding: 0% 2%;
  background-color: #097079;
  border-radius: 12px;
  font-weight: bold;
  color: white;
  font-weight: bold;
}

.is-slide-text h1 {
  font-size: 3rem;
}

.is-slide-text p:nth-of-type(2) {
  font-size: x-large;
}

.is-slide-text .list-links {
  width: 100%;
  height: 100%;
}
.is-slide-text .list-links .imagen-icon {
  width: 50px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.055);
}

.is-slide-text .list-links a:hover img {
  transform: scale(1.1);
}

.is-side-image {
  display: flex;
  align-content: flex-end;
}

.is-side-image * {
  width: 65%;
  margin: 0 auto;
}

.toggle-collapse {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none;
}
.toggle-collapse:hover {
  transform: scale(1.2);
}
@media (max-width: 800px) {
  .toggle-collapse {
    display: inline;
  }
}

@media (max-width: 800px) {
  header nav, .lading__content nav {
    display: none;
  }
}

#t-check:checked ~ label {
  transform: rotate(180deg);
}

@media (max-width: 800px) {
  #t-check:checked ~ nav {
    position: absolute;
    width: 150px;
    height: 150px;
    display: grid;
    align-content: center;
    top: 33px;
    right: 15%;
    z-index: 4;
    padding-left: 2%;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.055);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}

.container {
  margin: 5% auto;
  padding: 2%;
}

.container section {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  width: 85%;
  margin-top: 5%;
}

.container section :is(h2, p) {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.area-to-skills {
  margin: 4% 0 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.area-to-skills .area-to-skills__card-md, .area-to-skills .area-to-skills__card-md .area-description {
  width: 22%;
  min-width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 1000px) {
  .area-to-skills .area-to-skills__card-md, .area-to-skills .area-to-skills__card-md .area-description {
    width: 40%;
  }
}

.area-to-skills .area-to-skills__card-md img, .area-to-skills .area-to-skills__card-md .area-description img {
  width: 80%;
  margin: 0 auto;
}

.area-to-skills .area-to-skills__card-md .area-description {
  width: 70%;
  margin: 0 auto;
}
.area-to-skills .area-to-skills__card-md .area-description .area-description__area-title {
  font-size: larger;
  font-weight: 900;
}
.area-to-skills .area-to-skills__card-md .area-description .area-description__progress {
  width: 90%;
  height: 10px;
  background-color: rgba(128, 128, 128, 0.433);
  border-radius: 12px;
  margin: 3% 0;
  overflow: hidden;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.055);
}
.area-to-skills .area-to-skills__card-md .area-description .area-description__the-obs {
  color: rgb(44, 44, 44);
}

:is(.is-area-Git-Github, .is-area-html, .is-area-Javascript, .is-area-Scss, .is-area-type, .is-area-css) .bar {
  height: 100%;
  background-color: #097079;
}

.is-area-html .bar {
  width: 93%;
}

.is-area-Javascript .bar {
  width: 85%;
}

.is-area-Scss .bar {
  width: 88%;
}

.is-area-type .bar {
  width: 78%;
}

.is-area-Git-Github .bar {
  width: 90%;
}

.project-md__area {
  margin: 4% 0;
  padding: 4% 0;
  width: 100%;
  height: 100%;
  min-height: 350px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 40px;
}

.project-md__area--card-xl {
  width: 31%;
  min-width: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 15px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.055);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.project-md__area--card-xl:hover {
  transform: skewY(1.1deg);
}
.project-md__area--card-xl img {
  width: 100%;
}
.project-md__area--card-xl .list-badge {
  display: flex;
  gap: 8px;
  list-style: none;
  padding-left: 20px;
}
.project-md__area--card-xl .list-badge .badge {
  padding: 1px 10px;
  font-size: 12px;
  background-color: rgba(9, 112, 121, 0.262745098);
  border-radius: 20px;
}
.project-md__area--card-xl span {
  display: block;
  width: 100%;
  padding-left: 25px;
  font-size: large;
  font-weight: 700;
}
.project-md__area--card-xl p.text-card {
  margin: 2% 0;
  font-size: small;
  height: 30%;
  width: 100%;
  padding-left: 25px;
  padding-right: 15px;
  text-align: left;
}
.project-md__area--card-xl a {
  width: 90%;
  height: 30px;
  padding: 1% 0;
  margin: 0 auto;
  display: grid;
  align-content: center;
  justify-content: center;
  border-radius: 12px;
  margin-bottom: 18px;
  background-color: #097079;
  color: white;
}
.project-md__area--card-xl a:hover {
  background-color: rgb(44, 44, 44);
}

.get__side {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.get__side div {
  min-width: 300px;
  width: 45%;
}

.get__side div img {
  width: 80%;
  margin: 0 auto;
}

.get-cv__side--left, .about-side-rigth {
  min-width: 300px;
  margin: 4% auto;
  min-height: 380px;
  height: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
  background: #097079;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.055);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
}
.get-cv__side--left a, .about-side-rigth a {
  width: 80%;
  margin: 3% auto;
  height: 50px;
  border-radius: 12px;
  display: grid;
  align-content: center;
  justify-content: center;
  background-color: white;
  color: #097079;
  transition: 2s ease-in-out;
  animation-name: rodar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.get-cv__side--left a:hover, .about-side-rigth a:hover {
  background-color: gray;
  color: #097079;
}
@keyframes rodar {
  from {
    transform: rotate(2deg);
    transform: scale(1);
  }
  50% {
    transform: rotate(-4deg);
    transform: scale(1.1);
  }
  100% {
    transform: rotate(4deg);
    transform: scale(1);
  }
}

.about-side-left {
  height: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
}
.about-side-left img {
  width: 90%;
  padding-bottom: 4px;
}

@media (max-width: 800px) {
  .about-side-rigth {
    padding: 3% 0%;
  }
}

section form {
  width: 80%;
  height: 100%;
  margin: 3% auto;
  padding: 4%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(90deg, rgb(202, 219, 221) 0%, #c8eeec 50%, #cceceb 100%);
  border-radius: 12px;
}

section form label {
  margin: 2% 0%;
  overflow: hidden;
}

section form :is(input, textarea) {
  width: 100%;
  max-width: 800px;
  padding: 1% 3%;
  border: 1px solid rgb(44, 44, 44);
  border-radius: 6px;
  outline: 1px solid transparent;
}
section form :is(input, textarea):focus {
  border-top: 1px solid transparent;
  outline: 1px solid #097079;
}

section form button[type=submit] {
  width: 60%;
  height: 35px;
  margin: 3% auto;
  background-color: #097079;
  color: white;
  font-weight: bold;
  font-size: large;
  border-radius: 6px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.055);
  cursor: pointer;
}
section form button[type=submit]:hover {
  background-color: rgb(44, 44, 44);
}

footer {
  border-top: 1px solid rgb(44, 44, 44);
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  footer {
    flex-direction: column;
    justify-content: center;
  }
}

footer div {
  text-align: center;
  width: 50%;
  padding: 3% 0%;
}
@media (max-width: 800px) {
  footer div {
    width: 100%;
  }
}

.top-call-area {
  width: 60%;
  height: 100%;
  margin: 3% auto;
  display: flex;
  justify-content: right;
}

.top-call-area button {
  width: 50px;
  height: 50px;
  border-radius: 6px;
  cursor: pointer;
  background-color: #097079;
  transition: 0.5s ease-out;
}
.top-call-area button * {
  transition: 0.5s ease-out;
}
.top-call-area button:hover {
  background-color: rgb(44, 44, 44);
  color: white;
}

.top-call-area button svg {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  display: grid;
  align-content: center;
}

.message__success {
  position: fixed;
  width: 350px;
  height: 70px;
  top: 10%;
  right: 3%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.055);
  border: 0.5px solid white;
  animation-name: showMessage;
  animation-duration: 1.5s;
}

.message__success--child {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  padding: 0 6%;
  background-color: rgba(9, 112, 121, 0.8549019608);
}
.message__success--child:nth-child(1) {
  justify-content: start;
  border-bottom: 0.21px solid white;
}
.message__success--child:nth-child(1) span svg {
  display: block;
  padding-right: 10px;
  width: 28px;
}
.message__success--child span {
  color: white;
}
.message__success--child:nth-child(2) {
  background-color: rgba(9, 112, 121, 0.9254901961);
}
.message__success--child:nth-child(2) span {
  width: 100%;
}

.display-none {
  display: none !important;
  transition: 1s display;
}

@keyframes showMessage {
  from {
    top: 18%;
    opacity: 15%;
  }
  to {
    top: 10%;
    opacity: 100%;
  }
}/*# sourceMappingURL=styles.css.map */